<section class="team-section text-center my-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <mdb-card style="background-image: url('../../../assets/img/galeria\ 14.jpg');object-fit: scale-down;background-repeat: no-repeat;background-size: cover;">
                <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                    <div class="py-5">
                        <h5 class="h5 orange-text">
                            <mdb-icon fas icon="hands-helping"></mdb-icon> FUNDACIÒN</h5>
                        <h2 class="card-title h2 my-4 py-2">ONG A Vuelo de Pájaro</h2>
                        <hr class="white my-3">
                        <p class="">
                            A vuelo de pájaro es una organización social nacida en el año 2017 en el municipio de Apía Risaralda, constituida legalmente como entidad sin ánimo de lucro en el año 2020. Promovemos la conservación ambiental y el desarrollo sostenible, involucrando
                            las comunidades con una perspectiva pedagógica. Impartimos educación ambiental a niños, niñas, jóvenes y adultos bajo estrategias que involucran al colectivo, en los procesos de conservación. Desarrollamos proyectos que aportan
                            a la economía circular dentro de las localidades de influencia.
                        </p>
                    </div>
                </div>
            </mdb-card>
        </div>
        <div class="col-lg-6 mt-3 row">

            <div class="col-lg-12 mt-5">
                <h1 class="font-weight-bold">Nuestros Aliados</h1>
                <hr class="blue my-3">

                <div class="row">
                    <div class="col-lg-3 mt-5" *ngFor="let item of cards">
                        <img [src]="item.img" alt="" width="100%">
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="col-lg-8 mt-4">
            <section class="my-5">
                <hr class="my-3 teal">
                <h1 class="font-weight-bold text-center my-1">Preguntas Frecuentes</h1>
                <hr class="my-3 blue">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mb-3" *ngFor="let item of preguntasFrecuentes; let i=index">
                            <div class="col-md-1 col-2">
                                <mdb-icon fas icon="question-circle" size="2x" class="cyan-text"></mdb-icon>
                            </div>
                            <div class="col-md-11 col-10">
                                <h5 class="font-weight-bold mb-3">{{item.pregunta}}</h5>
                                <p class="grey-text">{{item.respuesta}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->
        <section class="col-lg-6">

            <!--Section heading-->
            <h2 class="h1 py-5 font-weight-bold text-center">¿ Preguntas Frecuentes ?</h2>
            <hr class="teal my-3">
            <!--Section description-->
            <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

            <!--Grid row-->
            <div class="row pt-2">

                <!--Grid column-->
                <div class="col-lg-5 text-center text-lg-left">
                    <img src="../../../assets/img/imagen1.jpg" alt="" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7">
                    <div class="row mb-3" *ngFor="let item of preguntasFrecuentes; let i=index">
                        <div class="col-md-1 col-2">
                            <mdb-icon fas icon="question-circle" size="2x" class="cyan-text"></mdb-icon>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">{{item.pregunta}}</h5>
                            <p class="grey-text">{{item.respuesta}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--Grid row-->

        </section>
    </div>

</section>
