<!-- Footer -->
<footer class="page-footer font-small aqua-gradient">

    <!-- Footer Elements -->
    <div class="container">

        <div class="row">
            <div class="col-md-3 offset-md-1">
                <div class="mb-5 flex-center">
                    <img src="../../../assets/img/logo-removebg-preview.png" alt="" width="100%">
                </div>
            </div>

            <div class="col-md-6 offset-md-2 py-5">

                <h6 class="text-uppercase font-weight-bold text-center">redes sociales</h6>
                <hr class="deep-purple accent-2 mb-0 mt-0 " style="width: 60px;">
                <div class="mb-5 flex-center">
                    <a class="fb-ic" href="https://m.facebook.com/ONG-A-vuelo-de-p%C3%A1jaro-111372497330419" target="_blank">
                        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
                    </a>
                    <a class="gplus-ic" href="https://api.whatsapp.com/send?phone=573114045662&text=Bienvenido%20ONG%20A%20Vuelo%20de%20P%C3%A1jaro%20" target="_blank">
                        <mdb-icon fab fab icon="whatsapp" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
                    </a>
                    <a class="ins-ic" href="https://www.instagram.com/avuelodepajaro2020/" target="_blank">
                        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
                    </a>
                    <a class="ins-ic" href="mailto:avuelodepajaro2020@gmail.com" target="_blank">
                        <mdb-icon fas icon="envelope" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-copyright text-center py-3">© {{today | date:'yyyy'}} Copyright:
        <a href="#">ONG A Vuelo de Pájaro</a>
    </div>

</footer>
<!-- Footer -->
