.view {
    height: 70vh !important;
}

.img-logo {
    height: 40px;
}

.navbar {
    box-shadow: inset 0px 0px 0px 0 rgb(0 0 0 / 0%), 0 2px 10px 0 rgb(0 0 0 / 0%);
    font-weight: 300;
}

h1 {
    font-family: 'allura';
}

@media (max-width: 768px) {
    .img-logo {
        height: 30px;
    }
}
